In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Resources/Athlete_genie.csv")

In [3]:
# Fill in null values for Age with medians based on Sex and Sport

medians = df.groupby(['Sex','Sport'])['Age'].transform('median')

df['Age'] = df['Age'].fillna(medians)

In [4]:
# Fill in null values for Height with medians based on Sex and Sport

medians = df.groupby(['Sex','Sport'])['Height'].transform('median')

df['Height'] = df['Height'].fillna(medians)

In [5]:
# Fill in null values for Weight with medians based on Sex and Sport

medians = df.groupby(['Sex','Sport'])['Weight'].transform('median')

df['Weight'] = df['Weight'].fillna(medians)

In [6]:
# Fill in null values for Medal

df["Medal"] = df["Medal"].fillna("No Medal")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     271116 non-null  float64
 4   Height  271016 non-null  float64
 5   Weight  270521 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   271116 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [8]:
df.to_csv('Resources/athlete_for_tableau.csv', index=False)